### Java ###
*.class
*.log
*.ctxt
.mtj.tmp/

### Package ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Build ###
target/
build/
out/
/dist/
/nbdist/
/nbbuild/
/nbproject/private/
/.nb-gradle/

### Maven wrapper ###
.mvn/wrapper/maven-wrapper.jar

### IDE ###
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Other ###
HELP.md
hs_err_pid*
replay_pid*